@charset "utf-8";
body {
}
.navBarContainer {
    height: 80px;
    width: 100%;
    margin-top: 20px;
}
.navBar {
    height: 80px;
}
.navBarButton {
    background-image: url(../Assets/Icon_Black.svg);
    height: 80px;
    background-repeat: no-repeat;
    margin-left: 20px;
    width: 43px;
}

.contentContainer {
    height: 85%;
    margin-top: 9%;
    margin-bottom: 6%;
    margin-left: 7%;
    display: flex;
	flex-wrap: nowrap;
  overflow-x: auto;
}

.ContentColumn {
    width: 50%;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 10%;
    padding-bottom: 2%;
}
.newContentPreviewImage {
    width: 36%;
    float: right;
    display: block;
    background-image: url(../Blog/The%20Great%20Clay%20Harvest/newContentPreviewImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
.olderColumn {
    width: 23%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 4%;
}
h1 {
    font-family: gfs-didot;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    text-transform: uppercase;
}



h2   {
    font-family: "Cooper Hewitt";
    font-style: normal;
    font-weight: 800;
    font-size: medium;
}

p {
    font-family: "Cooper Hewitt";
}

.italicBodyType {
    font-family: "Montserrat Light";
    font-style: italic;
    font-weight: 400;
    font-size: large;
}
